article > img
{
	max-width: 50%;
}

header
{
	height: 150px;
}

.fa.fa-2x
{
	font-size: 3em;
}

.divide-5
{
	width: 10%;
}

.divide-12
{
	width: 19%;
}

nav
{
	margin-top: 51px;
}

.logo
{
	top: 59px;
}

.text-wrap
{
	top: 36px;
}

.text-wrap > h1
{
	font-size: 36pt;
}

.text-wrap > p
{
	font-size: 16pt;
}

article > h2
{
	font-size: 36pt;
}

.contact > form > fieldset > select, #rubrik, #body 
{
	font-size: 24pt;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact > form > fieldset > label
{
	font-size: 16pt;
}